/* Color Theme Swatches in Hex */
$darkAqua: #1d9db3;
$aqua: #69e9ff;
$lightAqua: #38e2ff;
$darkOrange: #b35c14;
$orange: #ff7300;
$lightOrange: #f67b34;
$white: #f2f2f2;

// background: rgb(255,115,0);
// background: linear-gradient(90deg, rgba(255,115,0,0.6702031154258579) 1%, rgba(242,141,82,0.16039919385723034) 100%);
